<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>

    <script src="/js/jquery.js"></script>
</head>
<body>
<div id="Header">

    <div id="Logo">
        <div id="LogoContent">
            <a href="/catalog/index"><img src="/images/logo-topbar.gif"/></a>
        </div>
    </div>

    <div id="Menu">
        <div id="MenuContent">
            <a href="/cart/cartForm"><img align="middle" name="img_cart" src="/images/cart.gif"/></a>

            <img align="middle" src="/images/separator.gif"/>
            <th:block th:if="${session.loginAccount==null}">
                <a href="/account/loginForm">Sign In</a>
                <img align="middle" src="/images/separator.gif"/>
                <a href="/account/registerForm">Register</a>
                <img align="middle" src="/images/separator.gif"/>
            </th:block>

            <th:block th:if="${session.loginAccount!=null}">
                <a href="/account/logout">Sign Out</a>
                <img align="middle" src="/images/separator.gif"/>



                <a href="logForm?type=viewlog&page=1">My Account</a>

                <img align="middle" src="/images/separator.gif"/>
            </th:block>


            <a href="/help.html">?</a>
        </div>
    </div>

    <div id="Search">
        <div id="SearchContent">
            <form action="" method="post">
                <input type="text" name="keyword" size="14" id="keyword">
                <input type="submit" value="Search">
            </form>
            <div id="productAutoComplete">
                <ul id="productAutoList">
                    <%--                    <li class="productAutoItem">Amazon Parrot</li>--%>
                    <%--                    <li class="productAutoItem">Labrador Retriever</li>--%>
                    <%--                    <li class="productAutoItem">Golden Retriever</li>--%>
                    <%--                    <li class="productAutoItem">Rattlesnake</li>--%>
                    <%--                    <li class="productAutoItem">Tiger Shark</li>--%>
                    <%--                    <li class="productAutoItem">Dalmation</li>--%>
                </ul>
            </div>
        </div>

    </div>

    <div id="QuickLinks">

        <a href="/catalog/viewCategory?categoryId=FISH" data-categoryId="BIRDS"><img src="/images/sm_fish.gif"/></a>
        <img src="/images/separator.gif"/>

        <a href="/catalog/viewCategory?categoryId=DOGS" data-categoryId="DOGS"><img src="/images/sm_dogs.gif"/></a>
        <img src="/images/separator.gif"/>

        <a href="/catalog/viewCategory?categoryId=REPTILES" data-categoryId="REPTILES"><img src="/images/sm_reptiles.gif"/></a>
        <img src="/images/separator.gif"/>

        <a href="/catalog/viewCategory?categoryId=CATS" data-categoryId="CATS"><img src="/images/sm_cats.gif"/></a>
        <img src="/images/separator.gif"/>

        <a href="/catalog/viewCategory?categoryId=BIRDS" data-categoryId="BIRDS"><img src="/images/sm_birds.gif"/></a>


    </div>

</div>

</body>
</html>