<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>

    <link rel="StyleSheet" href="/css/mypetstore.css" type="text/css"
          media="screen" />
</head>


<body>
<header th:replace="~{common/top}"></header>
<div id="Content">
<div id="BackLink">
    <a href="/catalog/index">Return to Main Menu</a>
</div>

<div id="Catalog2" class="Catalog2">

    <h2 th:text="${category.categoryName}">Category Name</h2>
</div>
<div class="Catalog" id="product">
    <table>
    <tr>
        <th>Product ID</th>
        <th>Name</th>
    </tr>
        <th:block th:each="product1 : ${category.productList}">
        <tr class="product-item" id="product-item">

            <td class="product-description">
                <a th:href="@{/catalog/viewProduct(productId=${product1.productId},act='VIEW')}">
                    <span th:utext="${product1.productId}"></span>
                </a>
            </td>
            <td class="product-name" th:text="${product1.name}"></td> <!-- 输出 description -->

        </tr>
        </th:block>
        </table>

</div>

</div>
<footer th:replace="~{common/bottom}"></footer>
</body>
</html>