<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="StyleSheet" href="/css/mypetstore.css" type="text/css"
          media="screen" />

    <header th:replace="~{common/top}"></header>
</head>
<body>

<div id="Catalog">

    <form th:action="@{/account/register}" method="post" th:object="${user}">

        <p>Please enter your username and password.</p>
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" id="username"/><br/>
        <div id="feedback"></div>

        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password"/><br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        <p>&nbsp;&nbsp;&nbsp;&nbsp;
            Captcha:<input type="text" name="vcode"/><br /><br /><img src="code" onclick="this.src='code?'+Math.random()"><br/><br/>
        </p>


        <input type="submit" value="Register">
    </form>

</div>

<footer th:replace="~{common/bottom}"></footer>
</body>
</html>